<div id="wrapper">

    <app-nav-private [status]="status"></app-nav-private>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dashboard</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-map fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{allMapCount}}</div>
                                <div>Maps In Spaces</div>
                            </div>
                        </div>
                    </div>
                    <a [routerLink]="['/maker/spaces']">
                        <div class="panel-footer">
                            <span class="pull-left">View Spaces</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-database fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">4,500</div>
                                <div>KB of Disk Used</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-cloud-download fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">9.8</div>
                                <div>GB of Traffics Used</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-cog fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">5</div>
                                <div>Robots Worked</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-6">

            </div>
            <!-- /.col-lg-8 -->
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-map fa-fw"></i> Recent Maps
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="list-group">
                            <a *ngFor="let m of recentMaps;" [routerLink]="['/maker/map-detail', m._id]" class="list-group-item">
                                {{m.name}}
                                <span class="pull-right text-muted small"><em>{{m.modified | amTimeAgo}}</em> <a [routerLink]="['/maker/map-edit', m._id]"><i class="fa fa-pencil-square fa-fw"></i>Map</a> <a [routerLink]="['/maker/desk-edit', m._id]"><i class="fa fa-pencil-square fa-fw"></i>Desk</a> <a [routerLink]="['/maker/info-edit', m._id]"><i class="fa fa-pencil-square fa-fw"></i>Info</a></span>
                            </a>
                        </div>
                        <!-- /.list-group -->
                        <a [routerLink]="['/maker/spaces']" class="btn btn-default btn-block">View All Spaces</a>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
    </div>
</div>