<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="#">Easy Inside</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#services">Services</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="login-message">
                    <div class="panel panel-default" style="margin-top: 10vh;">
                        <div class="panel-heading">
                            This map needs password
                        </div>
                        <div class="panel-body">
                            <form role="form" [formGroup]="pwForm" (ngSubmit)="submitPassword(pwForm.value)">
                            <div class="row">
                                <div class="col-lg-10 col-lg-offset-1">
                                    <input type="password" class="form-control" placeholder="Enter password" [formControl]="pwForm.controls['pw']">
                                    <div *ngIf="pwForm.controls['pw'].hasError('required') && pwForm.controls['pw'].touched" class="alert alert-danger">
                                        You must input password.
                                    </div>
                                    <div *ngIf="wrongPassword" class="alert alert-danger">
                                        Password is wrong.
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:10px;">
                                <div class="col-lg-10 col-lg-offset-1">
                                    <button type="submit" class="btn btn-success" [disabled]="!pwForm.valid">
                                        Submit Password
                                    </button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>