<div class="notice-area">
    <!--<alert type="info" dismissible="true">
        <h4>Thanks for all in Maker Faire Berlin 2017!</h4>
        <p>As you may know already, now this site is under construction. not perfect yet.</p>
        <p>Sorry for making you wait.</p>
    </alert>-->
    <alert type="success" dismissible="true">
        <strong>Google OAuth!</strong> Now you can use Google account. Other accounts will be able to use as soon as possible.
    </alert>
    <alert type="info" dismissible="true">
        <strong>Showcase!</strong> You can see the map of <a href="/map/58fd302d324a9bb2b1b5b95a">Maker Faire Berlin 2017</a>.
    </alert>
</div>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" [routerLink]="['/']">Easy Inside</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a [routerLink]="['/spaces']">Search</a>
                </li>
                <li>
                    <a [routerLink]="['/document']">Document</a>
                </li>
                <li>
                    <a [routerLink]="['/contact']">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Header -->
<a name="about"></a>
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Enjoy Your Space</h1>
                    <h3>If there is a map for your house, garden or office, what can you do with the map?</h3>
                    <hr class="intro-divider">
                    <h5>Choose a Login Method</h5>
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <!--<a href="/auth/google" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google</span></a>-->
                            <a href="/auth/google" class="btn btn-social-icon btn-google btn-lg"><i class="fa fa-google"></i></a>
                        </li>
                        <li>
                            <!--<a href="/auth/facebook" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>-->
                            <a href="/auth/facebook" class="btn btn-social-icon btn-facebook btn-lg"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <!--<a href="/auth/twitter" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>-->
                            <a href="/auth/twitter" class="btn btn-social-icon btn-twitter btn-lg"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <!--<a href="/auth/github" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>-->
                            <a href="/auth/github" class="btn btn-social-icon btn-github btn-lg"><i class="fa fa-github"></i></a>
                        </li>
                        <li>
                            <!--<a href="/auth/instagram" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>-->
                            <a href="/auth/instagram" class="btn btn-social-icon btn-instagram btn-lg"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <!--<a href="/auth/pinterest" class="btn btn-default btn-lg"><i class="fa fa-pinterest fa-fw"></i> <span class="network-name">Pinterest</span></a>-->
                            <a href="/auth/pinterest" class="btn btn-social-icon btn-pinterest btn-lg"><i class="fa fa-pinterest"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Help your colleagues</h2>
                    <p class="lead">Do you know where all your colleagues are? Maybe your colleagues want to know you also. Share your office map with colleagues.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/ipad.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <img class="img-responsive" src="img/ipad.png" alt="">
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Help your guests</h2>
                    <p class="lead">Make your guest to find your space. Your map has navigation. People can search every locations and routes.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Make your robot</h2>
                    <p class="lead">Robot is hard? No. There are tutorials for making robot world easy. You can make your space as robot world.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/ipad.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <img class="img-responsive" src="img/ipad.png" alt="">
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Make your future</h2>
                    <p class="lead">You can make a gardening robot or you can change an old lawn mower to move by itself. How about cleaning robot or coffee delivering robot? Yes, you can make it.</p>
                </div>
            </div>
            
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->